{:lexicon 1, :id "com.etzhayyim.apps.kakaku.matchCandidate", :defs {:main {:type "record", :record {:type "object", :properties {:sourceMerchantDid {:type "string"}, :createdAt {:type "string", :format "datetime"}, :productId {:type "string"}, :sourceSku {:type "string"}, :reason {:type "string"}, :status {:type "string"}, :sourceMerchantId {:type "string"}, :did {:type "string"}, :sourceUrl {:type "string", :format "uri"}, :candidateId {:type "string"}, :productDid {:type "string"}, :confidence {:type "float"}}, :required ["candidateId" "did" "sourceMerchantId" "sourceSku" "productId" "confidence" "status"]}}}}
