{:lexicon 1, :id "com.etzhayyim.apps.kakaku.merchant", :defs {:main {:type "record", :record {:type "object", :properties {:shippingPolicy {:type "string"}, :selectorVersion {:type "integer"}, :updatedAt {:type "string", :format "datetime"}, :reputationScore {:type "float"}, :name {:type "string"}, :createdAt {:type "string", :format "datetime"}, :selectorConfig {:type "object"}, :baseCurrency {:type "string"}, :status {:type "string"}, :did {:type "string"}, :selectorRollout {:type "float"}, :domain {:type "string"}, :selectorProfile {:type "string"}, :merchantId {:type "string"}}, :required ["merchantId" "did" "name" "domain"]}}}}
