{:lexicon 1, :id "com.etzhayyim.apps.kakaku.offer", :defs {:main {:type "record", :record {:type "object", :properties {:availability {:type "string"}, :productUrl {:type "string", :format "uri"}, :merchantDid {:type "string"}, :totalPrice {:type "float"}, :deliveryEta {:type "string"}, :productId {:type "string"}, :merchantSku {:type "string"}, :offerId {:type "string"}, :currency {:type "string"}, :status {:type "string"}, :did {:type "string"}, :observedAt {:type "string", :format "datetime"}, :productDid {:type "string"}, :nativeOfferId {:type "string"}, :price {:type "float"}, :shippingFee {:type "float"}, :merchantId {:type "string"}}, :required ["offerId" "did" "productId" "merchantId" "price" "totalPrice" "currency" "observedAt"]}}}}
