{:lexicon 1, :id "com.etzhayyim.apps.kakaku.product", :defs {:main {:type "record", :record {:type "object", :properties {:category {:type "string"}, :mpn {:type "string"}, :packSize {:type "string"}, :updatedAt {:type "string", :format "datetime"}, :jan {:type "string"}, :name {:type "string"}, :createdAt {:type "string", :format "datetime"}, :productId {:type "string"}, :brand {:type "string"}, :status {:type "string"}, :did {:type "string"}, :gtin {:type "string"}, :model {:type "string"}}, :required ["productId" "did" "name"]}}}}
