{:lexicon 1, :id "com.etzhayyim.apps.kakaku.selectorRevision", :defs {:main {:type "record", :record {:type "object", :properties {:selectorVersion {:type "integer"}, :revisionId {:type "string"}, :createdAt {:type "string", :format "datetime"}, :selectorConfig {:type "object"}, :isActive {:type "boolean"}, :reason {:type "string"}, :selectorProfile {:type "string"}, :rollout {:type "float"}, :merchantId {:type "string"}}, :required ["revisionId" "merchantId" "selectorVersion" "selectorConfig" "createdAt"]}}}}
